<div id="marco">
  <h1><span class="cabezatext">Ingresar</span></h1>

  {{#if mensaje}}
    <div style="background-color: #2980b9; color: white; padding: 10px; border-radius: 8px; margin-bottom: 15px; text-align: center;">
      {{mensaje}}
    </div>
  {{/if}}
  {{#if error}}
    <div style="background-color:#ffcccc; color:#8b0000; padding:10px; border-radius:8px; margin-bottom:15px; text-align:center;">
      {{error}}
    </div>
  {{/if}}

  <form id="login" method="post" action="/login">
    <input
      type="text"
      name="email"
      class="inputs"
      placeholder="Correo electrónico"
      value="{{correo}}"
      required
    />
    <div class="password-container">
      <input
        type="password"
        name="pass"
        id="loginPassword"
        class="inputs"
        placeholder="Contraseña"
        required
      />
      <div class="show-password-label">
          <input type="checkbox" id="showLoginPassword" onclick="togglePasswordVisibility('loginPassword', 'showLoginPassword', 'iconLoginPassword')">
          <img src="/img/ojo_cerrado.png" id="iconLoginPassword" class="password-toggle-icon" title="Mostrar contraseña" alt="Mostrar/Ocultar contraseña">
      </div>
    </div>

    <input
      type="submit"
      value="Entrar"
      class="inputs submit"
    />
    <br><br>
    <span class="legal-text">¿Primera vez? <a href="/register">Pulsa aquí</a></span>
    <span class="legal-text">¿Olvidaste tu contraseña? <a href="/forgot">Pulsa aquí</a></span>
    <a href="/" class="upleft">Volver al inicio</a>
  </form>
</div>