<a href="/lobby" class="upleft">Volver al lobby</a>

<div class="contenedort">
    <div><h1>Transacciones</h1></div>
    <hr>
    <div class="saldot"><h2>Saldo: <span style="color:green">80.000$</span></h2></div>
    <hr>

    <div class="recargarplata">
        <h2>Recarga</h2>
        <form>
            <input type="text" name="number" placeholder="Numero de tarjeta"/>
            <input type="text" name="fv" placeholder="Fecha de Vencimiento"/> 
            <input type="text" name="cv" placeholder="CV"/>
            <input type="text" placeholder="Nombre titular"/>
            <input type="number" name="monto" placeholder="Monto"/>
            <button class="recarga">Recargar</button>
        </form>
    </div>

    <hr>

    <div class="retirarplata">
        <h2>Retiro</h2>
        <form>
            <input type="text" placeholder="Nombre"/>
            <input type="text" placeholder="Rut"/>
            <input type="text" placeholder="Numero de Cuenta"/>
            <input type="text" placeholder="Banco"/>
            <input type="number" placeholder="Monto"/>
            <br><button class="retiro">Retirar</button>
        </form>
    </div>
</div>
